$global_text_color: black;
$global_second_text_color: white;
$header_background_color: black;
$header_image_background_color: rgba(0, 0, 0, 0.5);

$body_background: rgb(229, 226, 226);
$body_background750: rgba(0, 0, 0, 0.9);

$title_color: white;
$li_background_color: white;

$accent_color: #32b896;

$second_accent_color: magenta;
