img {
  margin: auto;
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
  @include clipt(80%, 749);
}

@media screen and (min-width: $tablet) {
  img {
    @include clipt(30%, $tablet);
  }
}

@media screen and (min-width: $desktop) {
  img {
    @include clipt(100%, $desktop);
  }
}
